/*
  title: base css
*/


/* =global elements
--------------------------------------------- */
body {
	border-top: 2px solid gray;
	font: 14px/1.5em "Trebuchet MS", Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	margin: 0 auto;
	background-color: rgb(231, 231, 231);
	width: 80%;
}

header{
	display: block;
	float: left;
	position: relative;
	width: 100%;
	height: 3em;
	background-color: rgb(218, 55, 55);
	color: whitesmoke;
	font-weight: bold;
	padding: 0.5% 0%;
	box-shadow: 0px 2px 1px rgb(185, 140, 140);
	border-radius: 10px;
}

header img
{
	height: 3em;
	margin: 0 1% 0 5%;
	vertical-align: middle;
}

header a
{
	font-size: 1.6em;
}

#description
{
	margin-left: 53%;
}

#user-info{
	background-image: url("../images/options-bg.png");
	border: 1px solid #CCD;
	box-shadow: 1px 1px 1px rgb(185, 140, 140);
	display: block;
	float: left;
	padding: 10.5%;
	width: 70%;
	margin-bottom: 15%;
	text-align: center;
	color: #666;
	font-weight: bold;
	border-radius: 10px;
}

#picture {
  background-position: center 25%;
  background-repeat: no-repeat;
  background-size: 84px;
  float: left;
  width: 84px;
  height: 84px;
  overflow: hidden;
}

#user-info h1{
	display: block;
	float: left;
	text-align: center;
}

#sidebar{
	display: block;
	float: left;
	padding: 1.8% 0.5%;
	width: 15%;
	margin-left: 1.7%;
	text-align: center;
	border-radius: 10px;
}

#sidebar-buttons{
	display: block;
	float: left;
	width: 70%;
	padding: 10%;
	border: 1px solid #CCD;
	background-image: url("../images/options-bg.png");
	box-shadow: 1px 1px 1px rgb(185, 140, 140);
	border-radius: 10px;
}

.btn-sidebar{
	width: 100%;
	margin: 0 auto;
	cursor: pointer;
	border-radius: 10px;
}

#appointment{
	background-image: url("../images/appointment.png");
	background-size: 100%;
	background-repeat: no-repeat;
	display: block;
	color: white;
	font-weight: bolder;
	float: left;
	height: 20px;
	height: 7.6em;
	line-height: 14em;
	border-radius: 10px;
}

.appointment {
	margin: 10px auto;
	width: 650px;
	border: 2px solid #BEBEBE;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
}

.appointed,
.appoints
{
	margin-top: 5px;
	margin-left: -590px;
}

.body{
	float: left;
	width: 648px;
}

#logout{
	background-image: url("../images/logout.png");
	background-size: 100%;
	background-repeat: no-repeat;
	color: white;
	font-weight: bolder;
	height: 7.6em;
	display: block;
	float: left;
	margin-top: 12%;
	line-height: 13.5em;
}

#content{
	border: 1px solid #CCD;
	background-image: url("../images/options-bg.png");
	box-shadow: 1px 1px 1px rgb(185, 140, 140);
	display: block;
	float: left;
	width: 77%;
	min-height: 300px;
	text-align: center;
	margin: 1.7% 2%;
	border-radius: 10px;
}

/* ------------------------------------------ */

/* =clearfix
--------------------------------------------- */
.clearfix{
  width: auto;
  height: auto;
  margin: 20px;


}
.clearfix:after {
  clear: both;
  content: ".";
  display: block;
  font-size: 0;
  height: 0;
  line-height: 0;
  visibility: hidden;
}

.clearfix {
  zoom: 1;
}
/* ------------------------------------------ */
